.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    padding: 2px;
}

.loader::after {
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,rgba(255,255,255,0.5) 92%,#0000);
    background:
            var(--c) 50%  0,
            var(--c) 50%  100%,
            var(--c) 100% 50%,
            var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}
.loader::before {
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,rgba(255,255,255,0.2) 92%,#0000);
    background:
            var(--c) 50%  0,
            var(--c) 50%  100%,
            var(--c) 100% 50%,
            var(--c) 0    50%;
    margin: 4px;
    background-size: 8px 8px;
    animation: l12 1s infinite linear;
}

@keyframes l12 {
    100%{transform: rotate(.5turn)}
}
