@import "tailwindcss";

:root {
    color-scheme: dark;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("@/shared/fonts/SFProDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("@/shared/fonts/SFProDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("@/shared/fonts/SFProDisplay-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("@/shared/fonts/SFProDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("@/shared/fonts/SFProDisplay-Heavy.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        @apply antialiased;
    }

    html {
        text-rendering: optimizeLegibility;
        font-feature-settings: "kern" 1, "liga" 1;
    }
}


@theme inline {
    --font-sans: "SF Pro Display", system-ui, sans-serif;

    --color-white: #FFFFFF;
    --color-background: #F6F6F6;
    --color-blue: #007AFF;
    --color-accent: #EF3656;
    --color-accent-50: #622B36;
    --color-attention: #EB4253;

    --color-text-dark: #1F2937;
    --color-text-grey: #6B7280;

    --color-grey-5: #E5E7EB;
    --color-grey-10: #252628;
    --color-grey-20: rgba(0, 0, 0, 0.20);
    --color-grey-25: #A4ABB7;
    --color-grey-50: #797979;
    --color-grey-75: rgba(24, 24, 24, 0.75);


    --color-white-10: rgba(255, 255, 255, 0.10);
    --color-white-20: rgba(255, 255, 255, 0.20);
    --color-white-25: rgba(255, 255, 255, 0.25);
    --color-white-50: rgba(255, 255, 255, 0.50);
    --color-white-70: rgba(255, 255, 255, 0.70);
    --color-white-100: #FFFFFF;

    --color-dark-25: rgba(0, 0, 0, 0.25);
    --color-dark-35: rgba(0, 0, 0, 0.35);
    --color-dark-50: rgba(0, 0, 0, 0.5);
    --color-dark-100: rgba(0, 0, 0, 1);
}

@layer utilities {
    .bg-accent-gradient {
        background: linear-gradient(95.42deg, #F43758 0.17%, #E52572 99.73%);
    }

    .bg-premium-gradient {
        background: linear-gradient(170.06deg, #FEAC47 -15.32%, #E25F27 130.03%);
    }
    
    .border-premium-gradient {
        background: linear-gradient(170.06deg, #FEAC47 -15.32%, #E25F27 130.03%);
        padding: 1px;
    }
    
    .border-premium-gradient > * {
        background: var(--color-grey-10);
        border-radius: inherit;
    }

    .bg-notification-error {
        background: linear-gradient(95.42deg, rgba(244, 55, 88, 0.2) 0.17%, rgba(229, 37, 114, 0.2) 99.73%);
    }

    .bg-button-link-warning {
        background: linear-gradient(0deg, var(--color-white-10, rgba(255, 255, 255, 0.1)), var(--color-white-10, rgba(255, 255, 255, 0.1))),
        linear-gradient(80.07deg, rgba(235, 66, 83, 0) 66.85%, rgba(235, 66, 83, 0.2) 98.68%);
    }

    .bg-icon-gradient {
        background: linear-gradient(112.17deg, #FE4773 13.87%, #E2273C 69.33%);
    }
}


#root {
    height: 100%;
    padding-top: var(--tg-viewport-content-safe-area-inset-top, 0px);
}

body {
    background: radial-gradient(149.52% 58.99% at 50% 41.01%, #221419 0%, #000000 82.69%, #000000 82.7%);
    overflow: hidden;
    color: var(--color-white-100);
    height: var(--tg-viewport-height, 100%);
    padding-top: var(--tg-viewport-safe-area-inset-top, 0px);
    transition: height .2s;
}

html {
    -webkit-text-size-adjust: 100%;
    overscroll-behavior: none;
    height: var(--tg-viewport-height, 100%);
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea {
    -webkit-user-select: auto !important;
    user-select: auto !important;
}

*::-webkit-scrollbar {
    display: none;
}

.title1-bold {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
}

.title2-bold {
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
}

.title3-bold {
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}

.title1-regular {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
}

.caption1-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.button-main {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.body-regular {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.body-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.body-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.subtitle-medium {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.small-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.small-homa {
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(-150%, 0, 0);
    }
}

.ticker-wrap {
    padding-left: 120%;
}

.animate-ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation: ticker 5s linear infinite;
}


.liquid-glass {
    isolation: isolate;
    background: none;
}

.liquid-glass:focus {
    outline: none;
}

.liquid-glass::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: inherit;
    box-shadow: inset 0 1px 1px 1px rgba(255,255,255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.liquid-glass::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.pb-safe-area-bottom {
    padding-bottom: max(30px, calc(var(--tg-viewport-safe-area-inset-bottom, 20px) + var(--safe-padding)));
}

.pb-safe-area-bottom-with-menu {
    padding-bottom: calc(var(--tg-viewport-safe-area-inset-bottom, 20px) + 72px + var(--safe-padding));
}

.pb-safe-area-bottom-with-button {
    padding-bottom: max(108px, calc(var(--tg-viewport-safe-area-inset-bottom, 20px) + var(--safe-padding) + 88px));
}

.pb-safe-area-bottom-with-buttons {
    padding-bottom: max(108px, calc(var(--tg-viewport-safe-area-inset-bottom, 20px) + var(--safe-padding) + 148px));
}
